body {
  margin: 0;
  padding: 0;
}
.top-bar {
  color: white;
  background-color: black;
  font: 16px sans-serif;
  font-weight: bold;
  padding: 3px 6px;
  margin-bottom: 6px;
}
.note {
  background-color: #ffff10;
  border: 1px solid #cccc10;
  padding: 4px 6px;
}
.note .note-text {
  font: 12px sans-serif;
  font-weight: bold;
}
.note .note-updated-at {
  font: 9px sans-serif;
  color: #bbbbbb;
}
