<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>nete</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"></link>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script type="text/javascript" src="/static/js/underscore.js"></script>
    <script type="text/javascript" src="/static/js/backbone.js"></script>
    <script type="text/javascript" src="/static/js/models.js"></script>
    <script type="text/javascript" src="/static/js/views.js"></script>
    <script type="text/javascript">
$(function() {
    noteCollection = new NoteCollection;
    noteCollection.id = 'e309437180274f64bd0ba0a4c120742f';

    noteCollectionView = new NoteCollectionView({collection: noteCollection});
    $('#content').append(noteCollectionView.el);
    
    noteCollection.fetch();
});
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">nete: name</div>
  
      <div id="my_page_bar"></div>
      <div id="content"></div>
      
      <div>
        <form>
            <h1>Create new note</h1>
            <div>
                <input type="text" name="name"></input>
            </div>
            <div>
                <input type="text" name="text"></input>
            </div>
            <button>Create!</button>
        </form>
      </div>
      
      <div id="footer">footer</div>
    </div>
  </body>
</html>